In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('out/kmeans.csv')

In [3]:
df.shape

(270, 6)

In [4]:
df.head()

   n_cluster  deterministic  det_iter  k      kmeans++  iter
0          5   6.172807e+12        28  1  6.009280e+12     8
1          5   6.172807e+12        28  2  5.724491e+12    51
2          5   6.172807e+12        28  3  5.788610e+12    23
3          5   6.172807e+12        28  4  5.724491e+12    29
4          5   6.172807e+12        28  5  5.788501e+12    11

In [5]:
df_group = df.groupby(
    by=['n_cluster', 'deterministic', 'det_iter'],
    as_index=False,
)[['kmeans++', 'iter']].agg(
    inertia_min=('kmeans++', 'min'),
    inertia_max=('kmeans++', 'max'),
    inertia_mean=('kmeans++', 'mean'),
    inertia_std=('kmeans++', 'std'),
    iter_min=('iter', 'min'),
    iter_max=('iter', 'max'),
    iter_mean=('iter', 'mean'),
    iter_std=('iter', 'std'),
)
df_group['inertia_ratio'] = df_group['deterministic']/df_group['inertia_mean']*100
df_group['min_max_range'] = df_group['iter_max']-df_group['iter_min']
df_group['min_max_ratio'] = df_group['iter_max']/df_group['iter_min']*100
df_group['iter_mean'] = df_group['iter_mean'].apply(
    lambda x: int(x) if x==int(x) else int(x)+1
)
df_group['iter_ratio'] = df_group['det_iter']/df_group['iter_mean']*100
df_group = df_group.round(2)
df_group.head()

,n_cluster,deterministic,det_iter,inertia_min,inertia_max,inertia_mean,inertia_std,iter_min,iter_max,iter_mean,iter_std,inertia_ratio,min_max_range,min_max_ratio,iter_ratio
0,5,19.13,5,18.95,21.51,19.59,0.76,1,7,5,1.65,97.68,6,700.0,100.00
1,5,60.57,13,50.33,63.37,55.79,5.72,2,9,6,2.37,108.57,7,450.0,216.67
2,5,2180.89,5,2036.83,2382.23,2174.08,137.28,2,6,4,1.51,100.31,4,300.0,125.00
3,5,75528.59,5,75412.60,97864.74,80265.34,7009.92,4,17,9,4.58,94.10,13,425.0,55.56
4,5,989292.50,5,916424.19,1061626.89,1002182.10,55341.83,1,9,6,2.76,98.71,8,900.0,83.33

In [6]:
df_group.shape

(27, 15)

In [7]:
df_group[['inertia_ratio', 'iter_ratio']].mean()

inertia_ratio    101.947037
iter_ratio       105.168519
dtype: float64