In [1]:
import os

import pandas as pd

from os.path import join
from sklearn.preprocessing import LabelEncoder

In [13]:
pwd = os.getcwd()
datadir = join(pwd, 'data/')
file = join(datadir, 'boston.csv')
le = LabelEncoder()
do_export = True

In [14]:
df = pd.read_csv(file)

In [15]:
print(df.columns)

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

In [16]:
print(df.head())

      crim    zn  indus  chas    nox     rm   age     dis  rad  tax  ptratio  \
0  0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296     15.3
1  0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242     17.8
2  0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242     17.8
3  0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222     18.7
4  0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222     18.7

        b  lstat  medv
0  396.90   4.98  24.0
1  396.90   9.14  21.6
2  392.83   4.03  34.7
3  394.63   2.94  33.4
4  396.90   5.33  36.2

In [6]:
print(len(df))

131

In [7]:
cols_encode = [
    'SCH_TYPE',
    'CITY',
    'ZIPCODE',
]
cols_drop = [
    'ADDRESS',
    'CSP_SCH_ID',
    'SCH_ID',
    'SCH_LABEL',
    'BLDG_NAME',
    'SHARED',
    'COMPLEX',
    'SCH_NAME',
]

In [8]:
df['SCH_NAME'].unique()

array(['Guild Elementary', 'Kennedy Patrick Elem', 'Otis Elementary',
       "O'Donnell Elementary", 'East Boston High', 'Umana Academy',
       'East Boston EEC', 'McKay K-8', 'Adams Elementary',
       'Harvard/Kent Elem', 'Charlestown High', 'Edwards Middle',
       'Warren/Prescott K-8', 'Eliot K-8', 'Quincy Upper School',
       'Quincy Lower (K-5)', 'Snowden International',
       'McKinley Elementary', 'McKinley So. End Acad', 'Hurley K-8',
       'Blackstone Elementary', 'Mason Elementary', 'Clap Elementary',
       'Perkins Elementary', 'Excel High', 'Tynan Elementary',
       'Perry K-8', 'Russell Elementary', 'Orchard Gardens K-8',
       'West Roxbury Academy', 'UP Academy Boston',
       'Boston Day and Evening Academy', 'Carter Center',
       'Madison Park High', "O'Bryant Math & Sci.", 'Timilty Middle',
       'Hale Elementary', 'Higginson/Lewis (3-8)', 'Haynes EEC',
       'Trotter K-8', 'Boston Latin Academy', 'Ellis Elementary',
       'Winthrop Elementary', 'King K-8', 'Frederick Pilot Middle',
       'UP Academy Holland', 'Mather Elementary',
       'UP Academy Charter School of Dorchester',
       'Henderson Lower (K0-1)', 'Murphy K-8', 'Kenny Elementary',
       'Henderson Upper (2-12)', 'Taylor Elementary',
       'Boston International HS', 'Newcomers Academy',
       'Mildred Avenue K-8', 'TechBoston Academy', 'Lee K-8',
       'Lee Academy (K1-3)', 'Holmes Elementary', 'Young Achievers K-8',
       'Mattahunt Elementary', 'Chittick Elementary',
       'Comm Acad Sci Health', 'Philbrick Elementary', 'Haley K-8',
       'BTU K-8 Pilot', 'Roosevelt Upper (2-8)', 'Channing Elementary',
       'Grew Elementary', 'Conley Elementary', 'Irving Middle',
       'Sumner Elementary', 'Community Academy', 'Hernandez K-8',
       'English High', 'Mendell Elementary', 'Kennedy John F Elemen',
       'West Zone ELC', 'Tobin K-8', 'Boston Latin School',
       'Kennedy Health Careers Academy (11-12)', 'Fenway High',
       'Boston Arts Academy', 'McKinley Prep High Sch', 'McKinley Middle',
       'Curley K-8 (Lower)', 'Curley K-8 (Upper)', 'Manning Elementary',
       'Bates Elementary', 'Mozart Elementary', 'Kilmer Upper (4-8)',
       'Beethoven Elementary', 'Kilmer Lower (K1-3)',
       'Urban Science Academy', 'Lyndon K-8', 'Edison K-8', 'Lyon K-8',
       'Lyon, Mary 9-12', 'Winship Elementary',
       'Another Course to College', 'Brighton High', 'Baldwin ELPA',
       'Horace Mann', 'Jackson/Mann K-8', 'New Mission High',
       'Gardner K-8', 'Ohrenberger 3-8', 'Everett Elementary',
       'P.A. Shaw (K1-3)', 'Greenwood Sarah K-8', 'Burke High',
       'Dever Elementary', 'McCormack Middle', 'Condon K-8',
       'Roosevelt K-8 (K1-1)', 'Bradley Elementary', 'Hennigan K-8',
       'Ellison/ Parks ELC', 'Greater Egleston High', 'Mission Hill K-8',
       'Margarita Muniz Academy',
       'Dudley Street Neighborhood Charter School',
       'Kennedy Health Careers Academy (9-10)',
       'Community Leadership Academy', 'Higginson Elementary (K1-2)',
       'Alighieri Montessori', 'Boston Adult Tech Acad',
       'Boston Green Academy', 'Dearborn Academy'], dtype=object)

In [9]:
for col in cols_encode:
    df[col] = le.fit_transform(df[col])

In [10]:
for col in cols_drop:
    df = df.drop(col, axis=1)

In [11]:
print(df.head())

           X          Y  OBJECTID_1  OBJECTID  BLDG_ID  CITY  ZIPCODE  \
0 -71.004121  42.388799           1         1        1     5       13
1 -71.030480  42.378545           2         2        3     5       13
2 -71.033891  42.375279           3         3        4     5       13
3 -71.038011  42.378089           4         4        6     5       13
4 -71.034921  42.380957           5         5        7     5       13

   SCH_TYPE        POINT_X       POINT_Y
0         2  790128.152748  2.967094e+06
1         2  783027.745829  2.963318e+06
2         2  782112.823908  2.962122e+06
3         2  780994.000003  2.963140e+06
4         3  781823.000004  2.964190e+06

In [12]:
if do_export == True:
    df.to_csv(file, index=False)